<h1>Tentang Modalin</h1>

<p>
  Modalin adalah sistem crowdfunding berbasis web yang diharapkan dapat memfasilitasi para pelaku UKM agar bisa mempromosikan usahanya dalam rangka mencari tambahan modal/dana.
</p>
<p>
  Dengan sistem crowdfunding ini diharapkan semua sektor UKM dapat dijangkau oleh para investor, baik yang merupakan perusahaan maupun masyarakat luas. Selain itu diharapkan banyak UKM baru bermunculan memanfaatkan kegunaan dari sistem crowdfunding itu sendiri sebagai akses mencari dana yang dibutuhkan mereka.
</p>
<p>
  Terjadinya pertumbuhan dua arah yaitu meningkatnya gairah investasi diberbagai sektor industri yang terjadi akibat bertumbuhnya UKM yang semakin kreatif dan menjangkau
</p>
