/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
  overflow-y: scroll;
}

header {
  background-color: #000;
  display: block;
  margin: -20px -20px 20px -20px;
  min-height: 70px;
  padding: 10px;
  color: #fff;
}

header ul {
  display: block;
  list-style: none;
}

header ul li {
  float: left;
  padding-top: 7px;
}

#brand {
  font-size: 30px;
  margin-top: 10px;
  text-transform: uppercase;
}

nav {
  float: right;
  margin-right: 100px;
}

nav li {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
}

nav li:hover {
  border-top: 3px solid #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #fff;
}

.main {
  margin: 0 160px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: #000;
   color: #fff;
   height: 100px;
   padding: 0 20px;
}
